<%sample = @people_db.sample%>
<%random_image = sample["filepath"]%>
<img src="<%=random_image%>" alt="Bild">

<form> 
    <input type="hidden" name="img_id" value="<%sample["id"]%>">
      <input type="radio" id="svar1" name="answer" value="svar1">
      <label for="svar1">HTML</label><br>
      <input type="radio" id="svar2" name="answer" value="svar2">
      <label for="sva2">CSS</label><br>
      <input type="radio" id="svar3" name="answer" value="svar3">
      <label for="svar3">JavaScript</label>
        <input type="submit" value="Rätta">
</form>