<%sample = @people_db.sample%>
<%random_image = sample["filepath"]%>
<img src="<%=random_image%>" alt="Bild">

<form> 
    <input type="hidden" name="img_id" value="<%sample["id"]%>">
    <select placeholder = "namn" name = "answer" id="select_game1" required> 
        <option disabled selected value> -- Välj ett namn -- </option>
        <%@people_db.each do |people|%>
        <option value="<%=people["name"]%>%"><%=people["name"]%></option>
        <%end%> 
    </select>
        <input type="submit" value="Rätta">
</form>