<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../public/css/index.css">
</head>
<body>
    <div class="container">
        <div class="item">
            <h1>Title</h1>
        </div>
        <div class="item2">
            <h1>register</h1>
        </div>
      </div>
    <div class="grid2x2">
        <div class="box box1"><div>
            <h1>
                Spel 1
            </h1>
            <h3>
                l채nk
            </h3>
        </div></div>
        <div class="box box2"><div>           
        <h1>
            Spel 2
        </h1>
        <h3>
            l채nk
        </h3></div></div>
        <div class="box box3"><div>            
        <h1>
            Spel 3
        </h1>
        <h3>
            l채nk
        </h3></div></div>
        <div class="box box4"><div>            
        <h1>
            Spel 4
        </h1>
        <h3>
            l채nk
        </h3></div></div>
      </div>
</body>
</html>