<% if flash[:success] %>
    <div class="flash success">
        <%= flash[:success]%>
    </div>
<% end %>

<div class="container">
    <div class="index-item">
        <h1>Title</h1>
    </div>
    <div class="index-item2">
        <h1>register</h1>
    </div>
    </div>
<div class="index-grid2x2">
    <div class="index-box index-box1">
        <div>
            <h1>
                Spel 1
            </h1>
            <a href="/game/1">Spela spel 1</a>
        </div>
    </div>
    <div class="index-box index-box2">
        <div>           
            <h1>
                Spel 2
            </h1>
            <a href="/game/2">Spela spel 2</a>
        </div>
    </div>
    <div class="index-box index-box3">
        <div>            
            <h1>
                Spel 3
            </h1>
            <a href="/game/3">Spela spel 3</a>
        </div>
    </div>
    <div class="index-box index-box4">
        <div>            
            <h1>
                Spel 4
            </h1>
            <a href="/game/4">Spela spel 4</a>
        </div>
    </div>
</div>