<% if flash[:success] %>
    <div class="flash success">
        <%= flash[:success]%>
    </div>
<% end %>


<div class="index-grid2x2">
    <a href="/game/3">
        <div class="index-box index-box1">
            <div>
                <h1>
                    Easy
                </h1>
                
            </div>
        </div>
    </a>
    
    <a href="/game/1">
        <div class="index-box index-box2">
            <div>           
                <h1>
                    Medium
                </h1>
                
            </div>
        </div>
    </a>
    
    
    <a href="/game/2">
        <div class="index-box index-box3">
            <div>            
                <h1>
                    Hard
                </h1>
            </div>
        </div>
    </a>
    <a href="/manage">
        <div class="index-box index-box4">
            <div>            
                <h1>
                    Manage
                </h1>
            </div>
        </div>
    </a>
</div>