<% if flash[:success] %>
    <div class="flash success">
        <%= flash[:success]%>
    </div>
<% end %>

<div class="manage-body">
    <div class="manage-db-content">
    
        <% if @db_content == "empty" %>

            <p class="manage-db-empty-text">
                Databasen är tom :(
            </p>

        <% else %>

            <% @db_content.each do |f| %>

                <div class="manage-item">
                    <div class="manage-db-id">
                        <p><%= f["id"] %></p>
                    </div>
                    <div class="manage-db-picture">
                        <img class="manage-db-picture" src="<%= f["filepath"] %>">
                    </div>
                    <div class="manage-db-name">
                        <p><%= f["name"] %></p>
                    </div>
                </div>

            <% end %>
            
        <% end %>

    </div>
    <div class="manage-interface">

        <div class="manage-interface-container">

            <div>
                <form class="manage-submit-form" method="POST" action="/manage/add-person" enctype="multipart/form-daga">
                    <input class="manage-submit-file-upload-button" type="file" id="file">
                    <input class="manage-submit-name-field" type="text" id="name" placeholder="Namn: ">
                    <input class="manage-submit-person-button" type="submit" value="Lägg till">
                </form>
            </div>

            <div class="manage-spacer"></div>

            <div>
                <form class="manage-delete-form" method="POST" action="/manage/remove-person">
                    <input class="manage-delete-number-field" type="number" id="number">
                    <div class="manage-delete-form-spacer"></div>
                    <input class="manage-delete-person-button" type="submit" value="Ta bort">
                </form>
            </div>

            <div class="manage-spacer"></div>

            <div class="manage-default-people">
                <a class="manage-default-people-link-new" href="/manager/default">
                    <button class="manage-default-people-button">Ladda in klassen</button>
                </a>
                <a class="manage-delete-all-people-link" href="/manager/delete-all">
                    <button class="manage-delete-all-people-button">Radera alla i listan</button>
                </a>
            </div>

        </div>

    </div>
</div>