<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till eller ta bort elever</title>
    <link rel="stylesheet" href="./../public/css/manage.css">
</head>
<body>
    <div class="db-content">
        
        <div class="item">
            <div>
                <p class="db-id">1</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/1.png">
            </div>
            <div class="db-name">
                hej1
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

        <div class="item">
            <div class="db-id">
                <p>2</p>
            </div>
            <div class="db-picture">
                <img class="db-picture" src="./../public/img/2.png">
            </div>
            <div class="db-name">
                hej2
            </div>
        </div>

    </div>
    <div class="manage-interface">

        <div class="manage-interface-container">

            <div class="submit-person">
                <form class="submit-form" method="post">
                    <input class="submit-file-upload-button" type="file" name="" id="">
                    <input class="submit-name-field" type="text" name="" id="" placeholder="Namn: ">
                    <input class="submit-person-button" type="submit" value="Lägg till">
                </form>
            </div>
    
            <div class="delete-person"></div>
    
            <div class="default-people"></div>

        </div>

    </div>
</body>
</html>