<div class="manage-db-content">
    



<!--
    <div class="item">
        <div class="db-id">
            <p>1</p>
        </div>
        <div class="db-picture">
            <img class="db-picture" src="./../public/img/1.png">
        </div>
        <div class="db-name">
            <p>hej1</p>
        </div>
    </div>

    <script>

        * Läs in hela databasen som en lista

        * Kolla hur lång listan är 

        * Kör en loop som plockar varje variabel från listan och 
        skapar segmentet med HTML koden ovan fast ersätter "<p>1</p>", 
        "<img class="db-picture" src="./../public/img/1.png">" och 
        "<p>hej1</p>" med rätt kod utifrån numret i listan från databasen. 

        * Om det inte finns några personer alls i listan så ska den skriva
        ut det istället för att bara göra skärmen tom. 

    </script>
-->





</div>
<div class="manage-interface">

    <div class="manage-interface-container">

        <div>
            <form class="submit-form" method="post">
                <input class="submit-file-upload-button" type="file" name="" id="">
                <input class="submit-name-field" type="text" name="" id="" placeholder="Namn: ">
                <input class="submit-person-button" type="submit" value="Lägg till">
            </form>
        </div>

        <div class="spacer"></div>

        <div>
            <form class="delete-form" method="POST">
                <input class="delete-number-field" type="number">
                <div class="delete-form-spacer"></div>
                <input class="delete-person-button" type="submit" value="Ta bort">
            </form>
        </div>

        <div class="spacer"></div>

        <div class="default-people">
            <a class="default-people-link" href="/manager/default">
                <button class="default-people-button">Ladda in klassen</button>
            </a>
        </div>

    </div>

</div>