<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till eller ta bort elever</title>
    <link rel="stylesheet" href="./../public/css/manage.css">
</head>
<body>
    <div class="db-content">
        <div class="db-id"></div>
        <div class="db-picture"></div>
        <div class="db-name"></div>
    </div>
    <div class="manage-interface">
        <div class="submit-person"></div>
        <div class="delete-person"></div>
    </div>
</body>
</html>