html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}
  
.container {
    display: flex;
    margin-top: 2%
}
  
.item {
    flex-grow: 5;
    height: 100px;
    text-align: center;
}
  
.item2 {
    flex-grow: 1;
    height: 100px;
}
  
.item + .item2 {
    margin-left: 2%;
}
.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
}
.grid2x2 > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.box { margin: 20px; }
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }

.notice {
    background:rgba(100,100,100,0.1);
    width:60vw;
    padding:50px;
    position:fixed;
    font-size:4rem;
    font-family:Arial, Helvetica, sans-serif;
}

.flash {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-10%);
  background-color: #f8f9fa;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 4s ease-in-out forwards;
}

.flash.success {
  background-color: paleturquoise;
  color: darkslategray;
  border: 1px solid black;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; transform: translateX(-50%) translateY(0); }
  100% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}